<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^Hospital/public/.*$ [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_DIRNAME} !-d
RewriteCond %{REQUEST_URI} !.*\.png$ [NC]
RewriteCond %{REQUEST_URI} !.*\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !.*\.css$ [NC]
RewriteCond %{REQUEST_URI} !.*\.gif$ [NC]
RewriteCond %{REQUEST_URI} !.*\.js$ [NC]
RewriteCond %{REQUEST_URI} !.*\.txt$ [NC]
RewriteRule . public/index.php [L]
</IfModule>