*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 105vh;
    display: flex;
    align-items: center;
    background-image: url("../images/back2.png");
    background-size: cover;
    background-color: slategray;
    background-blend-mode:multiply;
}
.sidebar{
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(18, 26, 26);
    color: white;
    padding:50px 0px;   
}
.sidebar ul{
    list-style: none;
    padding: 13px;
    text-align: center;
    margin: 35px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul h3{
    color: yellowgreen;
    font-family: 'Gill Sans';
    text-transform: uppercase;
}
hr{
    width: 100%;
    margin: 12px 0;
}
.sidebar ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 1.23em;
    cursor: pointer;
}
li.active{
    background: tomato;
}
.container{
    position: relative;
    width: 68%;
    height: 90vh;
    box-shadow: 0 0 12px green;
    margin: 0 0 0 20px;
    background-color: rgba(223, 236, 223,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h4{
    font-size: 1.5em;
    color: #000;
    text-align: center;
}
table{
    width: 100%;
    height: 85%;
    padding: 10px;
    overflow: scroll;
    border-collapse: collapse;
}
table thead th , table tr td{
    padding: 15px;
    font-size: 1.3em;
    border: 1px solid black;
    text-align: center;
    margin: 0;
}
thead{
    background-color: green;
    color: white;
}
td button{
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}
tr.hide{
    display: none;
}
input{
    padding: 3px;
    font-size: 0.75em;
    background-color: azure;
}
div[id$='add-part']{
    border: 1.5px solid black;
    border-radius: 12px;
    padding: 10px;
    width: 40%;
    align-items: center;
}
div[id$='add-part'] h3{
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(36, 59, 12);
}
div[id$='add-part'] span{
    display: block;
    margin: auto;
    text-align: center;
}
div[id$='add-part'] input{
    margin: 10px auto ;
    padding: 5px;
    font-size: 1em;
    width: 100%;
}
div[id$='add-part'] select{
    margin: 10px auto;
    display: block;
}
div[id$='add-part'] hr{
    color: black;
    margin: 13px auto;
    font-size: 0.5em;
    box-shadow: 0 0 5px white;
}
div[id$='add-part'] button{
    padding: 5px;
    font-size: 1em;
    display: block;
    margin: auto;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
}
#admin-profile-part {
    width: 35%;
    min-height: 50%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: relative;
    padding-top: 70px;
    background-color: rgba(167, 118, 27,0.5);
    
}
#admin-profile-part img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
#admin-profile-part p{
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 8px;
}
#admin-profile-part p span{
    font-size: 1.3em;
    font-weight: bold;
    color: crimson;
}
#admin-profile-part form{
    padding: 12px;
}
input[type='checkbox']:disabled{
    margin: 0 15px;
    background: black;
}
.error{
    position: absolute;
    bottom: 30px;
    background-color: red;
    color: black;
    font-size: 1.3em;
    margin: auto;
}


